<!-- <div class="h-100 d-flex flex-column">
  <div style="height: 60px; background-color: #aaaaaa">
    <div class="btn btn-primary" (click)="test()" style="margin: 10px">TEST</div>
    <div class="btn btn-primary" (click)="clear()" style="margin: 10px">CLEAR</div>
    <div class="btn btn-primary" (click)="mode()" style="margin: 10px">MODE</div>
    <input type="file" id="fileInput" (change)="openFile($event)">
    <div class="btn btn-primary" (click)="plus()" style="margin: 10px">+</div>
    <div class="btn btn-primary" (click)="minus()" style="margin: 10px">-</div>
    <div class="btn btn-primary" (click)="reset()" style="margin: 10px">RESET</div>
  </div>
  <div class="h-100 d-flex flex-row" #daddy style="background: lightgray">
    <div class="flex-grow-1"></div>
    <div class="h-100 d-flex flex-column">
      <div class="flex-grow-1"></div>
      <canvas #canvas width="0" height="0" style="
                    display: block;
                    border: 1px solid black;"></canvas>
      <div class="flex-grow-1"></div>
    </div>
    <div class="flex-grow-1"></div>
  </div>
</div> -->

<div style="height: 100%; display: flex; flex-direction: column;">
  <div style="height: 40px; background-color: #888888">
      <button (click)="test()" style="margin: 10px">TEST</button>
      <button (click)="clearALL()" style="margin: 10px">CLEAR</button>
      <button (click)="plus()" style="margin: 10px">PLUS</button>
      <button (click)="minus()" style="margin: 10px">MINUS</button>
      <button (click)="reset()" style="margin: 10px">RESET</button>
  </div>
  <div #daddy style="display: flex; flex-direction: row; flex-grow: 1; margin:50px;">
    <canvas style="flex-grow: 1" #canvas
            [ngStyle]="style"
            width="0" height="0">
    </canvas>
  </div>
</div>
