<!-- <div class='h-100 w-100' style='padding: 50px; background-color: white;'> -->
  <!-- <div class="d-flex h-100 flex-column"> -->
    <!-- <div style="height: 80px; background-color: blue"></div> -->
    <!-- <div class="flex-fill d-flex flex-row"> -->
          <!-- <div class="flex-fill d-flex flex-column" > -->
              <!-- <div style="height: 100px; background-color: lightgray"></div> -->
              <!-- <div class="flex-fill d-flex flex-row"> -->
                  <!-- <div style="width: 100px; background-color: darkgray"></div> -->
                  <!-- <div class="flex-fill"> -->
                    <app-acdgraph></app-acdgraph>
                  <!-- </div> -->
                  <!-- <div  style="width: 100px; background-color: darkgray"></div> -->
              <!-- </div> -->
              <!-- <div style="height: 100px; background-color: lightgray"></div> -->
          <!-- </div> -->
          <!-- <div style="width: 400px; background-color: lightcoral"></div> -->
    <!-- </div> -->
    <!-- <div style="height: 40px; background-color: blue"></div> -->
  <!-- </div> -->

<!-- </div> -->
